<p-panel header="Pipes Personalizados" class="p-1">
    <p>
        Pipes personalizados - creados por el {{'Desarrollador' | toggleCase:isUpperCase }}
    </p>
</p-panel>

<p-toolbar>

    <div class="p-toolbar-group-start">
        <button 
            label="ToogleCase" 
            pButton 
            icon="pi pi-search" 
            class="mr-2"
            (click)="toggleUpperCase()">
        </button>

    </div>

    <div class="p-toolbar-group-center">

        <button 
            (click)="changeOrder('name')"
            label="Por nombre" 
            pButton 
            icon="pi pi-sort" 
            class="p-button-success mr-2">
        </button>

        <button
            (click)="changeOrder('canFly')"
            label="Por volar" 
            pButton 
            icon="pi pi-sort" 
            class="p-button-danger mr-2">
        </button>

        <button
            (click)="changeOrder('color')"
            label="Por color" 
            pButton 
            icon="pi pi-sort" 
            class="p-button-help mr-2">
        </button>

    </div>
</p-toolbar>    

<div class="grid">
    <div class="col mt-2">
        <p-panel header="Héroes">
            <p-table [value]="heroes | sortBy:orderBy" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre</th>
                        <th>Vuela</th>
                        <th>Color</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-hero>
                    <tr>
                        <td>{{ hero.name }}</td>
                        <td>{{ hero.canFly | canFly | titlecase }}</td>
                        <td>{{ hero.color }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>

    </div>
</div>