<h2>Por País
</h2>

<hr>

<div class="row">
    <div class="col">
        <shared-search-box 
            placeholder="Buscar por país" 
            [initialValue]="initialValue"
            (onDebounce)="searchByCountry($event)"></shared-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        @if(isLoading){
            <shared-loading-spinner></shared-loading-spinner>
        }
        <ul>
            <countries-table [countries]="countries" ></countries-table>
        </ul>
    </div>
</div>