<div class="flex flex-column p-2">
    <h3>Search</h3>

    <mat-form-field>
        <mat-label>
            Heroes Search
        </mat-label>
        <input 
            matInput
            type="text"
            [formControl]="searchInput"
            (input)="searchHero()"
            [matAutocomplete]="auto"
            />
            <mat-autocomplete autoActiveFirstOption 
                #auto="matAutocomplete"
                (optionSelected)="onSelectedOption( $event )">
                @for (hero of heroes; track hero.id) {
                    <mat-option [value]="hero">
                        {{ hero.superhero }}
                    </mat-option>
                }

                @if(heroes.length === 0 && searchInput.value && searchInput.value.length > 0) {
                    <mat-option value="">
                        Nothing was found with the term {{ searchInput.value }}
                    </mat-option>
                }
            </mat-autocomplete>
    </mat-form-field>

    {{selectedHero | json}}

</div>