<h1>
    Edit / Add
    Hero
    <small>Superman</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
    <div class="col-12 sm:col-6">
        <mat-card>
            <mat-card-content>
                <form class="grid" 
                        (ngSubmit)="onSubmit()"
                        [formGroup]="heroForm">
                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Superhero</mat-label>
                        <input 
                            matInput 
                            type="text" 
                            required
                            formControlName="superhero"
                            >
                    </mat-form-field>
                    
                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Alter Ego</mat-label>
                        <input 
                            matInput 
                            type="text" 
                            required
                            formControlName="alter_ego"
                            >
                    </mat-form-field>
                    
                    <mat-form-field class="col-12">
                        <mat-label>First Appearance</mat-label>
                        <input 
                            matInput 
                            type="text" 
                            required
                            formControlName="first_appearance"
                            >    
                    </mat-form-field>
                    
                    <mat-form-field class="col-12">
                        <mat-label>Characters</mat-label>
                        <input 
                            matInput 
                            type="text" 
                            required
                            formControlName="characters"
                            >    
                    </mat-form-field>
                    
                    <mat-form-field class="col-12">
                        <mat-label>Creator</mat-label>
                        <mat-select 
                                formArrayName="publisher"
                                required>
                            @for ( publisher of publishers; track $index) {
                                <mat-option [value]="publisher.id">
                                    {{ publisher.viewValue }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Alternate Image</mat-label>
                        <input 
                            matInput 
                            type="text" 
                            formControlName="alt_img"
                            >    
                    </mat-form-field>

                </form>

                <div class="flex justify-content-between">
                    <button mat-flat-button color="warm">
                        <mat-icon>delete</mat-icon>
                        Delete
                    </button>
                    
                    <button 
                        mat-flat-button 
                        color="primary"
                        (click)="onSubmit()">
                        <mat-icon>save</mat-icon>
                        Save
                    </button>
                </div>


            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-12 sm:col-6">
        <mat-card>
            <img mat-card-image [src]="currentHero | heroImage " alt="hero image">
        </mat-card>
    </div>

</div>