#map {
    width: 100vw;  /* Full viewport width */
    height: 100vh; /* Full viewport height */
}

.list-group{
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

button{
    position: fixed;
    bottom: 30px;
    right: 20px;
}