<h2>Páginas</h2>
<hr>

<h3 class="mt-3">Reactivos</h3>

<ul class="list-group">
    @for( item of reactiveMenu; track item.title ){
        <li class="list-group-item" 
            [routerLink]="[ item.route ]"
            routerLinkActive="active">
            {{ item.title }}
        </li>
    }
</ul>

<h3 class="mt-3">Validaciones</h3>

<ul class="list-group">
    @for( item of authMenu; track item.title ){
        <li class="list-group-item" 
            [routerLink]="[ item.route ]"
            routerLinkActive="active">
            {{ item.title }}
        </li>
    }
</ul>