<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">

        <mat-toolbar class="primary-toolbar">
            <span >Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon class="color-menu">menu</mat-icon>
            </button>
        </mat-toolbar>
        
        <mat-nav-list>
            @for (item of sidebarItems; track $index) {
                <mat-list-item [routerLink]="item.route" (click)="sidenav.toggle()">
                    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                    {{ item.label }}
                </mat-list-item>
            }
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar class="primary-toolbar"> 
        <button mat-icon-button (click)="sidenav.toggle()"> 
            <mat-icon class="color-menu">menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <button mat-button>
            Logout
        </button>

    </mat-toolbar>

    <div class="container p-2">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>

