<h1 class="mt-3">Selectores anidados</h1>
<hr>

<form [formGroup]="myForm">
    
    <!-- Region -->
    <div class="row mb-3">
        <div class="col">
            <label for="" class="form-label">Continente:</label>
            <select formControlName="region" class="form-control">
                <option value="">-- Seleccione Continente --</option>
                @for(region of regions; track region) {
                    <option value="{{region}}">{{region}}</option>
                }
            </select>
        </div>
    </div>
    
    <!-- Countries -->
    @if(countriesByRegion.length > 0) {
        <div class="row mb-3">
            <div class="col">
                <label for="" class="form-label">País:</label>
                <select formControlName="country" class="form-control">
                    <option value="">-- Seleccione País --</option>
                    @for(country of countriesByRegion; track country) {
                        <option value="{{country.cca3}}">{{country.name}}</option>
                    }
            </select>
        </div>
        </div>
    }
    
    <!-- Borders -->
    @if(borders.length > 0) {
        <div class="row mb-3">
            <div class="col">
                <label for="" class="form-label">Fronteras:</label>
                <select formControlName="border" class="form-control">
                    <option value="">-- Seleccione Frontera --</option>
                    @for(country of borders; track country) {
                        <option value="{{country.cca3}}">{{country.name}}</option>
                    }
                </select>
            </div>
        </div>
    }


</form>

<h3>Formulario:</h3>
<pre>{{myForm.value | json}}</pre>
<p>
    is form valid: {{myForm.valid}}
</p>