#map {
    width: 100vw;  /* Full viewport width */
    height: 100vh; /* Full viewport height */
}

.floating-range{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.floating-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}