<h3>Listado de Héroes</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
    <h3>Héroe borrado <small class="text-danger">{{ deletedHero }}</small></h3>
</div>

<ng-template #nothingWasDeleted>
    <h3 >No ha borrado nada</h3>
</ng-template>

@if (heroNames.length > 0){
    <button (click)="removeLastHero()"
            class="btn btn-outline-danger">
        Borrar último héroe
    </button>
}

<ul class="mt-2 list-group">
    @for (hero of heroNames; track heroNames) {
        <li class="list-group-item">{{hero}}</li>
    } @empty {
        <li>There are no heroes!</li> 
    }
</ul>